.ingredients {
  text-align: center;
}

.ingredients h3 {
	font-size: 25px;
}
.ingredients h4 {
	font-size: 20px;
}

.ingredients .cilantro {
  color: #A2D074;
}

.ingredients .jalapeno {
  color: #4B7DA0;
}

.ingredients .tomato {
  color: #E76B5B;
}

.ingredients .onion {
  color: #EECFA3;
}

.ingredients .avocado {
  color: #6D8F4C;
}

.about-image {
  width: 100%;
}

@media (max-width: 768px) {
.about-image-wrap {
    height: 180px;
    width: 100%;
    margin: 0;
    background-position: center;
    background-size: 600px;
    background-position-x: -120px;
}
.about-small {
    margin: 0;
    padding: 0;
}
.content-row {
    margin-top: 0;
    margin-bottom: 2em;
}
.row-5 .col {
    padding-left: 10px;
}
.ingredients {
    width: 20%;
}
.ingredients h3 {
    font-size: 12px;
    margin-top: 1em;
}
.ingredients h4 {
    font-size: 9px;
}
}