.ingredients {
  text-align: center;
}

.ingredients h3 {
	font-size: 25px;
}
.ingredients h4 {
	font-size: 20px;
}

.ingredients .cilantro {
  color: #A2D074;
}

.ingredients .jalapeno {
  color: #4B7DA0;
}

.ingredients .tomato {
  color: #E76B5B;
}

.ingredients .onion {
  color: #EECFA3;
}

.ingredients .avocado {
  color: #6D8F4C;
}

.about-image {
  width: 100%;
}

