@import "variables";

.ingredients {
    text-align: center;
    .cilantro {
        color: #77B466;
    }
    .jalapeno {
        color: #062C80;
    }
    .tomato {
        color: red;
    }
    .onion {
        color: #D6D682;
    }
    .avocado {
        color: #004400;
    }
}

.about-image {
    width: 100%;
}